.navbar-inverse{
  background-color:rgb(184, 95, 211);
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:rgb(235, 45, 70);
}

.navbar-inverse .navbar-nav>li>a{
  color:rgb(161, 30, 150);
}

.navbar-inverse .navbar-brand{
  color:rgb(18, 218, 134);
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:darkorange;
}